nav {
    background-color: skyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    margin: 0;
}

.header {
    margin-left: 40px;
    padding: 15px;
    display: flex;
}

.text {
    margin-left: 5px;
}

.na .id {
    padding: 15px;
}
.na p {
    padding: 15px;
}

hr {
    margin: 0 75px 15px 75px;
}

textarea {
    width: 90%;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    height: 350px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: monospace;
}

.main-section {
    display: flex;
    gap: 75px;
    margin: 20px 0 20px 75px;
    width: fit-content;
}

.column {
    flex: 1;                     /* ให้แต่ละคอลัมน์กว้างเท่ากัน */
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.section {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.section .icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}